upstream apache2 {
    server  127.0.0.1:8080;
}

server {
    listen 80;
    server_name yourdomain.tld www.yourdomain.tld;

    location / {
        proxy_pass  apache2;
        include     /usr/local/etc/nginx/proxy.conf;
    }

    location ^~ /media/ {
        root    /path/to/project/dir/;
        expires 1d;
    }

    location ^~ /static/ {
        root    /path/to/project/dir/;
        expires 1d;
    }

    error_page 502 503 504 @maintenance;
    location @maintenance {
        root /path/to/dir/templates;
        rewrite ^(.*)$ /500.html break;
    }
}

#server {
#    listen 80;
#    server_name media.yourdomain.tld;
#
#    root /path/to/media/dir/;
#
#    access_log  off;
#    expires     1d;
#}

#server {
#    listen 80;
#    server_name static.yourdomain.tld;
#
#    root /path/to/static/dir/;
#
#    access_log  off;
#    expires     1d;
#}