<uwsgi>
    <!-- <processes>2</processes> -->
    <socket>var/run/uwsgi.sock</socket>
    <pidfile>var/run/uwsgi.pid</pidfile>
    <!-- <home></home> -->
    <touch-reload>wsgi.py</touch-reload>
    <module>wsgi</module>
    <chmod-socket>666</chmod-socket>
    <master/>
    <enable-threads/>
</uwsgi>