#!/bin/sh

ACTION=$1
PROJECT_DIR=/path/to/project
PID=$PROJECT_DIR/var/run/uwsgi.pid
SOCKET=$PROJECT_DIR/var/run/uwsgi.sock

start() {
    if [ -f $PID ] ; then
        echo 'server running, use restart'
    else
        uwsgi -x $PROJECT_DIR/conf/uwsgi.xml
        chmod 777 $SOCKET
    fi
}

delpid(){
    if [ -f $PID ] ; then
        kill `cat $PID`
        rm $PID
        rm $SOCKET
    else
        echo 'server stoped'
    fi
}

stop(){
    delpid
}

case $ACTION in
        start)
                start
        ;;
        stop)
                stop
        ;;
        restart)
                stop
                start
        ;;
        *)
                echo "$0 start| stop| restart"
                exit 1
        ;;
esac